* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../Assets/cities.jpg");
  background-size: cover;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 10rem;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 15px;

  width: 30vw;
  height: 50vh;

  h2 {
    color: #fff;
    margin: 1rem;
  }

  input {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
  }

  button {
    padding: 5px 10px;
    color: #fff;
    background-image: linear-gradient(#42a1ec, #0070c9);

    border: 1px solid #0077cc;
    border-radius: 4px;

    cursor: pointer;

    &:hover {
      background-image: linear-gradient(#51a9ee, #147bcd);
      border-color: #1482d0;
      text-decoration: none;
    }

    &:focus {
      box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
      outline: none;
    }

    &:active {
      background-image: linear-gradient(#3d94d9, #0067b9);
      border-color: #006dbc;
      outline: none;
    }
  }
}